#mainContainer{
  display: block; 
  margin: auto;
}

#pixelBoard{
  margin: auto;
  width: fit-content;
  height: fit-content;
  box-shadow: 0 10px 18px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.25);
}

#pixelContainer{
  display:grid;
}

#pigmentBoard{
  max-width: 640px;
  margin: auto;
  box-shadow: 0 10px 18px rgba(0,0,0,0.5), 0 6px 6px rgba(0,0,0,0.25);
}

#pigmentContainer{
  display:grid;
  grid-template: repeat(4,20px)/repeat(32,20px);
}

#pixelControlBoard{
  display: flex;
  margin: 0px auto;
  justify-content: center;
}

#pigmentControlBoard{
  display: flex;
  margin: 0px auto;
  justify-content: center;
}

button{
  margin: 8px 4px;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}